@charset "utf-8";

/*Paleta de cores*/
:root {
    --cor1: #65AFFF;
    --cor2: #335C81;
    --cor3: #1B2845;
    --corbonus: #3083DC;
}

body {
    background-color: var(--cor1);
    font:normal 15pt arial
}

header {
    text-align: center;
    color:white;
}

section {
    background-color: white;
    border-radius: 30px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.507);
    padding: 15px;
    width: 70vw;
    margin: auto;
}

section #div1 {
    padding: 20px 20px 0px 0px;
    text-align: start;
    
}

select {
    display: block;
    margin: auto;
}

footer {
    font-style: italic;
    text-align: center;
    color:white;
}